@import 'tailwindcss';

@layer base {
	body {
		@apply bg-white text-black dark:bg-gray-900 dark:text-white;
	}

	button {
		/* dark mode props */
		@apply dark:bg-gray-700;
		/* light mode props */
		@apply bg-gray-400;
		/* general props */
		@apply hover:cursor-pointer p-1 rounded-md border-1 border-transparent;
		@apply disabled:cursor-not-allowed disabled:border-red-500;
	}
}
